* {
    transition: all 0.5s ease;
    font-family:Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #0000;
}

html, body {
    background-color: #0000;
}

.timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4vw;
    background-color: #1a0022;
    background: linear-gradient(197deg, rgba(33,0,43,1) 0%, rgba(21,0,28,1) 50%, rgba(33,0,43,1) 100%);
    overflow: visible;
    opacity: 1;
}

.expandPlayerButton {
    height: 0.25vw;
    width: 93vw;
    margin-left: 3.5vw;
    background-color: #a41efe;
    cursor: pointer;
    border-radius: 100vw;
}

.expandPlayerButton:before {
    position: absolute;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 1vw solid #a41efe;
    border-left: 1vw solid #0000;
    border-right: 1vw solid #0000;
    border-top: 1vw solid #0000;
    margin-top: -2vw;
    margin-left: 45.5vw;
}

.MusicIcon {
    position: absolute;
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    margin: 0.4vw;
    margin-left: 1.5vw;
}

.iconsArea {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: -0.25vw;
}

.iconsArea .iconsButton {
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    position: relative;
    width: 1vw; 
    height: 2vw;
    cursor: pointer;
}

.iconsArea .icons {
    margin-top: -0.5vw;
    position: relative;
    width: 1.5vw; 
    height: 2.5vw;
}

.iconsArea .iconsButton .icon {
    position: absolute;
    top: 0.75vw;
    left: 0.5vw;
    font-size: 1.3vw;
    font-weight: bold;
    color: #fff;
    z-index: 3;
    pointer-events: none;
}

.iconsArea .iconsButton img {
    position: absolute;
    width: 1.5vw;
    margin-top: 0;
    margin-left: -0.25vw;
    pointer-events: none;
}

.progressbarHandler {
    position: absolute;
    margin-left: 50vw;
    margin-top: 1.5vw;
    transform: translateX(-50%);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.progressbarHandler p {
    font-size: 1.5vw;
    color: #F0F0FF;
    margin-top: -0.2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.progressbarHandler .progressbar {
    width: 50vw;
    height: 1vw;
    background-color: #fe721e;
    margin: 0;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    display: block;
}

.progressbarHandler .progressbar .progressbarProgress {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 0;
    height: 1vw;
    background-color: #a41efe;
    cursor: pointer;
    pointer-events: none;
}


/* Expanded Timeline */

.expandedTimeline {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    opacity: 0;
    background-color: #1a0022;
    background: radial-gradient(circle, #15001c 0%, #21002b 100%);
}

.expandedTimeline .expandedTimelineCloseBar {
    height: 0.25vw;
    width: 90vw;
    transform: translateX(-50%);
    margin-left: 50vw;
    position:absolute;
    bottom: 4.5vw;
    left: 0;
    background-color: #a41efe;
    border-radius: 100vw;
    cursor: pointer;
}

.expandedTimeline .expandedTimelineCloseBar:before {
    position: absolute;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 1vw solid #0000;
    border-left: 1vw solid #0000;
    border-right: 1vw solid #0000;
    border-top: 1vw solid #a41efe;
    margin-top: 0.25vw;
    transform: translateX(-50%);
    margin-left: 45vw;
    cursor: pointer;
}

.expandedTimeline .MediaThumb {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    position: absolute;
    top: 5vw;
    left: 5vw;
    background-color: #a41efe11;
    border-radius: 1vw;
}

.expandedTimeline .title {
    color: #F0F0FF;
    font-size: 4vw;
    position: relative;
    margin-left: 45vw;
    margin-top: 5vw;
    width: 50vw;
    text-align: center;
}

.expandedTimeline .author {
    color: #cacad8;
    font-size: 2.5vw;
    position: relative;
    width: 50vw;
    text-align: center;
    margin-left: 45vw;
}

.expandedTimeline .controllers {
    position: absolute;
    left: 50vw;
    bottom: 10vw;
    display: flex;
    flex-direction: row;
    transform: translateX(-50%);
}

.expandedTimeline .controllers .icon {
    width: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 3vw;
    font-weight: bold;
    color: #fff;
    z-index: 3;
    pointer-events: none;
}