:root {
    /* --[colors]-- */
    --Orange: #fe721e;
    --WhiteSnow: #f0f0ff;
    --GraySnow: #a5a5a5;
    --Purple: #a41efe;

    /* --[Elements]-- */
    --ProgressBarBackgroundColor: var(--Orange);
    --MusicTitleColor: var(--WhiteSnow);
    --MusicAuthorColor: var(--GraySnow);
    --Icons: var(--WhiteSnow);
    --Buttons: var(--Purple);
}

* {
    transition: all 0.25s ease;
    font-family:Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0000;
}

html, body {
    background-color: #0000;
}

#AltPopupDiv {
    position:fixed;
    z-index: 99;
    min-width: 10vw;
    min-height: 4vw;
    background-color: #DDD;
    color: #222;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    overflow: visible;
}

#AltPopupDiv span {
    font-size: 2vw;
    padding: 1vw;
}

#AltPopupDiv #AltPopupDotEffect {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    margin-bottom: -2vw;
    z-index: 99;
    border: 1vw solid #0000;
    border-top: 1vw solid #DDD;
}

.PlayAudioFiles {
    display: none;
}

.timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4vw;
    background-color: #1a0022;
    background: linear-gradient(197deg, rgba(33,0,43,1) 0%, rgba(21,0,28,1) 50%, rgba(33,0,43,1) 100%);
    overflow: visible;
    opacity: 1;
}

.expandPlayerButton {
    height: 0.25vw;
    width: 93vw;
    margin-left: 3.5vw;
    background-color: var(--Buttons);
    cursor: pointer;
    border-radius: 100vw;
}

.expandPlayerButton:before {
    position: absolute;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 1vw solid var(--Buttons);
    border-left: 1vw solid #0000;
    border-right: 1vw solid #0000;
    border-top: 1vw solid #0000;
    margin-top: -2vw;
    margin-left: 45.5vw;
}

.MusicIcon {
    position: absolute;
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    margin: 0.4vw;
    margin-left: 1.5vw;
}

.iconsArea {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: 0vw;
    height: inherit;
}

.iconsArea .iconsButton {
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    position: relative;
    width: 2vw; 
    cursor: pointer;
}

.iconsArea .icons {
    margin-top: -0.5vw;
    position: relative;
    width: 1.5vw; 
    height: 2.5vw;
}

.iconsArea .iconsButton .icon {
    position: absolute;
    top: 0.75vw;
    left: 0.5vw;
    font-size: 1.3vw;
    font-weight: bold;
    color: var(--Icons);
    z-index: 3;
    pointer-events: none;
}

.iconsArea .iconsButton img {
    position: absolute;
    width: 1.5vw;
    margin-top: 0;
    margin-left: -0.25vw;
    pointer-events: none;
}

.progressbarPlaceHolder {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    margin: 0;
    left: 0;
    pointer-events: none;
}

.progressbarPlaceHolder .progressbarHandler {
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
}

.progressbarPlaceHolder .progressbarHandler p {
    font-size: 1.5vw;
    color: var(--Icons);
    margin-top: -0.2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    user-select: text;
}

.progressbarPlaceHolder .progressbarHandler .progressbar {
    width: 50vw;
    height: 1vw;
    background-color: var(--ProgressBarBackgroundColor);
    margin: 0;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    display: block;
}

.progressbarPlaceHolder .progressbarHandler .progressbar .progressbarProgress {
    --Percentagem: 0;
    width: calc(calc(var(--Percentagem) / 100) * 50vw);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 1vw;
    background-color: var(--Buttons);
    cursor: pointer;
    pointer-events: none;
}

.volumeControlPlaceHolder {
    position: absolute;
    left: 80vw;
    width: 100%;
}

.volumeControlPlaceHolder .volumeControlHandler {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 1vw;
}

.volumeControlPlaceHolder .volumeControlHandler * {
    display: inline-block;
}

.volumeControlPlaceHolder .volumeControlHandler .volumeIcon {
    width: 1.75vw;
    height: 1.75vw;
    cursor: pointer;
}

.volumeControlPlaceHolder .volumeControlHandler .volumeBar .volumeBarProgress {
    width: 10vw;
    height: 0.35vw;
    background-color: var(--MusicAuthorColor);
    border-radius: 100vw;
    margin-bottom: 0.35vw;
    margin-left: 0.25vw;
    cursor: pointer;
}

.volumeControlPlaceHolder .volumeControlHandler .volumeBar .volumeBarProgress .volumeBarProgressWhiteArea{
    height: 0.35vw;
    background-color: var(--Icons);
    border-radius: 100vw;
    margin-bottom: 0.35vw;
    position: absolute;
    pointer-events: none;
}

.volumeControlPlaceHolder .volumeControlHandler .volumeBar .volumeBarProgress .volumeBarProgressHandler {
    width: 1.5vw;
    height: 1.5vw;
    background-color: var(--Icons);
    border-radius: 100vw;
    position: absolute;
    margin-top: -0.5vw;
    pointer-events: none;
}

.PlayVideoFiles {
    display:none;
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 5vw;
    left: 5vw;
    background-color: #000000EE;
    border-radius: 1vw;
    z-index: 5;
    object-fit: contain;
}

.timelineExpanded {
    display: none;
}

/* Expanded Timeline */

.expandedTimeline {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    opacity: 0;
    background-color: #1a0022;
    background: radial-gradient(circle, #15001c 0%, #21002b 100%);
}

.expandedTimeline .expandedTimelineCloseBar {
    height: 0.25vw;
    width: 90vw;
    left: 5vw;
    position:absolute;
    bottom: 4.5vw;
    background-color: var(--Buttons);
    border-radius: 100vw;
    cursor: pointer;
    overflow: visible;
}

.expandedTimeline .expandedTimelineCloseBar:before {
    position: absolute;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 1vw solid #0000;
    border-left: 1vw solid #0000;
    border-right: 1vw solid #0000;
    border-top: 1vw solid var(--Buttons);
    margin-top: 0.25vw;
    transform: translateX(-50%);
    margin-left: 45vw;
    cursor: pointer;
}

.expandedTimeline .MediaThumb {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    position: absolute;
    top: 5vw;
    left: 5vw;
    background-color: #a41efe11;
    border-radius: 1vw;
}

.expandedTimeline .title {
    color: var(--MusicTitleColor);
    font-size: 4vw;
    position: relative;
    margin-left: 45vw;
    margin-top: 5vw;
    width: 50vw;
    text-align: center;
    word-break: break-all;
    user-select: text;
}

.expandedTimeline .author {
    color: var(--MusicAuthorColor);
    font-size: 2.5vw;
    position: relative;
    width: 50vw;
    text-align: center;
    margin-left: 45vw;
    user-select: text;
}

.expandedTimeline .controllers {
    position: absolute;
    bottom: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.expandedTimeline .controllers .expandedIconsButton {
    cursor: pointer;
}

.expandedTimeline .controllers .icon {
    width: 3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 3vw;
    font-weight: bold;
    color: var(--Icons);
    z-index: 3;
    pointer-events: none;
}

.expandedTimeline .timelineExpanded {
    display: flex;
    position: absolute;
    bottom: 8vh;
    width: 92vw;
    padding-left: 4vw;
    height: 5vh;
}

.expandedTimeline .ProgressBarArea {
    width: 80vw;
    background-color: var(--ProgressBarBackgroundColor);
    height: 2.5vh;
    cursor: pointer;
    display: inline;

}

.expandedTimeline .ProgressBarArea .ProgressBarField  {
    --Percentagem: 0;
    position: absolute;
    width: calc(calc(var(--Percentagem) / 100) * 80vw);
    height: 2.5vh;
    background-color: var(--Buttons);
    pointer-events: none;
}

.expandedTimeline span {
    display: inline;
    color: var(--Icons);
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    user-select: text;
}