#setupPage {
    --setupPage-background: var(--gray-900);
    --setupPage-color: var(--white);

    background: var(--setupPage-background);
    color: var(--setupPage-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    overflow: hidden;
}
