* {
    outline: none;
    transition: all 0.5s ease;
}

::-webkit-scrollbar {
    width: 1vw;
    height: 1vw;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #a41efe;
}

::-webkit-scrollbar-thumb:hover {
    background: #be5cff;
}

::-webkit-scrollbar-thumb:active {
    background: #e4bcff;
}

.content * {
    font-family:Arial, Helvetica, sans-serif;
}

.content {
    background-color: #1a0022;
    background: radial-gradient(circle, #15001c 0%, #21002b 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.content .fields {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%
}

.content .fields fieldSeparator {
    width: 95vw;
    height: 0.25vw;
    background-color: #a41efe33;
    border-radius: 100vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.content .fields .title {
    color: #fff;
    font-size: 2.25vw;
    margin-left: 0.5vw;
    position: absolute;
}

.content .fields button {
    border: 0.3vw solid #a41efe33;
    width: 13vw;
    height: 15vw;
    background-color: #0000;
    cursor: pointer;
    color: #DDD;
    display: flex;
    flex-direction: column;
    margin-top: 5.5vw;
    margin-bottom: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    word-break: break-all;
    flex-shrink: 0;
}

.content .fields button:hover {
    border: 0.3vw solid #a41efe77;
    background-color: #a41efe33;
}

.content .fields button:active {
    border: 0.3vw solid #a41efe;
    background-color: #a41efe77;
}

.content .fields button input {
    position: absolute;
    margin: -1vw;
    width: 13vw;
    height: 15vw;
    opacity: 0;
    cursor: pointer;
}

.content .fields button img {
    width: 11.5vw;
    height: 11vw;
    margin-left: 0vw;
    margin-top: 0.25vw;
    object-fit: cover;
}

.content .fields button .subtext {
    font-size: 1.3vw;
    margin-top: 0.65vw;
    width: 12.5vw;
    text-align: center;
    margin-left: -0.5vw;
    overflow: hidden;
    overflow-y: auto;
    height: 2.35vw;
}

.content .fields div {
    display: flex;
    flex-direction: row;
    height: 24vw;
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 1vw;
}

@keyframes apperFromBottom {
    0% {margin-top: 100vh;}
}

.content .contentBlocker {
    position: fixed;
    width: 95vw;
    height: 95vh;
    background-color: #18002955;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    z-index: 999999999;
    border-radius: 3vw;
    box-shadow: 0px 0px 1.25vw 0.5vw #18002977;
    animation: apperFromBottom 0.3s ease;
    display: none;
    opacity: 0;
}

.content .contentBlocker .itemViewer {
    position: absolute;
    width: 90vw;
    background-color: #1f0047;
    height: 90vh;
    top: 2.5vh;
    margin: 0;
    padding: 0;
    left: 5vw;
    border-radius: 1vw;
    z-index: 9999999999;
}

.content .contentBlocker .itemViewer img {
    width: 30vw;
    height: 30vw;
    max-width: 50vh;
    max-height: 50vh;
    margin-left: 5vw;
    margin-top: 5vw;
    position: absolute;
    object-fit: cover;
}

.content .contentBlocker .itemViewer .itemViewerTitle {
    width: 45vw;
    margin-left: 40vw;
    text-align: center;
    margin-top: 5vw;
    position: absolute;
    font-size: 3.5vw;
    color: #fff;
}

.content .contentBlocker .itemViewer .itemViewerSubTitle {
    width: 45vw;
    margin-left: 40vw;
    text-align: center;
    margin-top: 9vw;
    position: absolute;
    font-size: 1.5vw;
    color: #868686;
}

.content .contentBlocker .itemViewer .itemViewerDescription {
    width: 45vw;
    margin-left: 40vw;
    text-align: center;
    margin-top: 15vw;
    position: absolute;
    font-size: 2vw;
    color: #EEE;
}

.content .contentBlocker .itemViewer .itemViewerButtonsArea {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 75vh;
    left: 5vw;
}

.content .contentBlocker .itemViewer .itemViewerButtonsArea button {
    width: 10vw;
    height: 10vh;
    font-size: 2vw;
    background-color: #18002977;
    border: 0.2vw solid #90f;
    color: #fff;
    cursor: pointer;
    border-radius: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.content .contentBlocker .itemViewer .itemViewerButtonsArea button:hover {
    background-color: #2a0047b2;
    border: 0.2vw solid #b74aff;
}

.content .contentBlocker .itemViewer .itemViewerButtonsArea button:active {
    background-color: #3d0069;
    border: 0.2vw solid #d89dff;
}