.box {
  background: var(--box-8-background-color);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backdrop-filter: none;
  overflow: hidden;
  position: relative;
  padding: var(--border-size);
}

.box.highQuality {
  transition: background 0.25s ease-in-out;
  backdrop-filter: blur(var(--box-background-blur-amount));
}
