:root {
  /* Colors */
  --dark-purple: #230028;
  --light-purple: #DFB6FF;
  --bright-red: #FF000F;
  --bright-magenta: #FF00C7;
  --bright-blue: #00B2FF;
  --bright-orange: #FF7A00;
  --bright-yellow: #FFD500;
  --bright-green: #00FF00;
  --bright-cyan: #00FFB2;
  --bright-greenish-yellow: #B2FF00;
  --gray: #8E8E8E;
  --light-gray: #C4C4C4;
  --dark-gray: #4D4D4D;
  --white: #edf6fc;
  --white-8-transparency: #edf6fc14;
  --white-12-transparency: rgba(237, 246, 252, 0.12);
  --white-16-transparency: rgba(237, 246, 252, 0.16);
  --black: #181818;
  --black-8-transparency: #18181814;
  --black-12-transparency: rgba(24, 24, 24, 0.12);
  --black-16-transparency: rgba(24, 24, 24, 0.16);

  /* Values */
  --base-application-border-radius: 1.5rem;
  --box-background-blur-amount: 4rem;

  --expanded-side-bar-size: 25%;
  --shrinked-side-bar-size: 3rem;

  --border-size: 0.5rem;
  --header-size: 2rem;
  --player-size: 3rem;
  --app-controls-gap: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  display: block;
  background: transparent;
}

.dark {
  --background-color: var(--dark-purple);
  --text-color: var(--white);
  
  --side-bar-button-background-color: var(--white-16-transparency);
  --side-bar-icon-color: var(--white);
  
  --box-8-background-color: var(--white-8-transparency);
  --box-12-background-color: var(--white-12-transparency);
  --box-16-background-color: var(--white-16-transparency);
  
  --player-border-color: var(--white);

  --loading-background-color: var(--dark-purple);
  --loading-progressbar-background-color: var(--white-16-transparency);
  --loading-progressbar-fill-color: var(--light-purple);
  --loading-appname-color: var(--white);

  --unfocused-control-buttons-color: var(--light-gray);
  --close-control-button-color: var(--bright-orange);
  --maximize-control-button-color: var(--bright-blue);
  --minimize-control-button-color: var(--light-purple);
}

.light {
  --background-color: var(--light-purple);
  --text-color: var(--black);
  
  --side-bar-button-background-color: var(--black-16-transparency);
  --side-bar-icon-color: var(--black);
  
  --box-8-background-color: var(--black-8-transparency);
  --box-12-background-color: var(--black-12-transparency);
  --box-16-background-color: var(--black-16-transparency);
  
  --player-border-color: transparent;
  
  --loading-background-color: var(--light-purple);
  --loading-progressbar-background-color: var(--black-16-transparency);
  --loading-progressbar-fill-color: var(--dark-purple);
  --loading-appname-color: var(--black);

  --unfocused-control-buttons-color: var(--dark-gray);
  --close-control-button-color: var(--bright-red);
  --maximize-control-button-color: var(--bright-yellow);
  --minimize-control-button-color: var(--bright-greenish-yellow);
}

#mainApplication {
  inset: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  background: var(--background-color);
  color: var(--text-color);
}

#mainApplication.highQuality {
transition: background 0.5s ease-in-out, color 0.5s ease-in-out, border-radius 0.5s ease-in-out, filter 0.5s ease-in-out, scale 0.5s ease-in-out;
}

#mainApplication.unfocused:not(:hover, :focus-within, .presenting) {
  filter: saturate(0.5) blur(0.5px);
  scale: 1.005;
}

#mainApplication.hideCursor, #mainApplication.hideCursor * {
  cursor: none !important;
}
